body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body * {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.table-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
